.success{
    color: green;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid greenyellow;
    background-color: grey;
}

.error{
    color: rgb(128, 0, 0);
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid;
    background-color: grey;
}